<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/scss/main.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Enci's portfolio</title>
  </head>

  <body>
    <header class="header">
      <div class="header_text">
        <h2 class="heading-2 header_text_item1">
          Eager to learn, ready to build
        </h2>
        <h1 class="heading-2 header_text_item2">
          I'm <span class="hightlight">Enci</span>,a new
          <span class="hightlight"> full-stack developer</span>
        </h1>
        <div class="header_link">
          <a href="#" class="header_icon header_text_item3"
            ><i class="fa fa-brands fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/Enci1211/"
            class="header_icon header_text_item4"
            ><i class="fa fa-brands fa-github"></i
          ></a>

          <a
            href="/download_pdf"
            class="btn header_text_item5"
            id="download_btn"
            >Download My CV</a
          >
        </div>
      </div>

      <div class="header_img">
        <img src="/static/img/enci_1.png" alt="enci's photo" />
      </div>
    </header>

    <section class="story">
      <div class="container">
        <h2 class="story_heading heading-2">About me</h2>
        <p class="story_text text">
          As a highly motivated and skilled Master's student in
          <span class="text_highlight">Applied Computing</span> at
          <span class="text_highlight">Lincoln University</span>, I am eager to
          pursue a career as a <span class="text_highlight"></span>full-stack
          developer. With extensive experience in
          <span class="text_highlight">Python</span> programming,
          <span class="text_highlight">database management</span>, and
          <span class="text_highlight">web development</span> technologies such
          as <span class="text_highlight">Flask, Jinja</span>, and
          <span class="text_highlight">MySQL</span>, I am capable of building
          robust and scalable
          <span class="text_highlight">web applications</span>. Additionally, I
          am proficient in
          <span class="text_highlight">front-end</span> technologies such as
          <span class="text_highlight">HTML, CSS</span>, and
          <span class="text_highlight">JavaScript</span> and am adept at using
          <span class="text_highlight">Bootstrap</span> to design visually
          stunning and
          <span class="text_highlight">user-friendly websites</span>.
          <br />
          I am committed to continuous learning and staying up-to-date with the
          latest industry trends and technologies. I am excited to further
          develop my skills in popular
          <span class="text_highlight">modern frameworks</span> such as React
          Angular, and Vue, and take on new and challenging technologies to
          become a more versatile and effective full-stack developer.
        </p>
      </div>
    </section>

    <section class="project">
      <div class="container">
        <h2 class="project_heading heading-2">Projects</h2>
        <div class="row">
          <div class="project_item">
            <figure class="project_item_shape">
              <img
                class="project_item_img project_item_img_1"
                src="/static/img/gym.png"
                alt="gym"
              />
              <figcaption class="project_item_caption">Check Now!</figcaption>
            </figure>

            <div class="project_item_text">
              <a href="#" class="project_item_link"
                ><h3 class="heading-3">Fitness Gym System (Full Stack)</h3></a
              >
              <p class="text">
                This system allows gym members to access and modify their
                information, book classes, etc. Manager can access and modify
                various member and staff information, generate gym schedules,
                and much more. As the
                <span class="text_highlight">sole developer</span>
                of this system, I have utilized a variety of technologies to
                ensure its success. The stack includes
                <span class="text_highlight">
                  Python (Flask), MySQL, HTML, CSS, SCSS</span
                >, and<span class="text_highlight"> Bootstrap</span>. In
                addition to the frontend and backend development, I was
                responsible for the majority of the
                <span class="text_highlight"
                  >database design and implementation</span
                >. I have included login credentials for three different types
                of users in the Readme file. Welcome to play with it!
              </p>
            </div>
          </div>

          <div class="project_item">
            <figure class="project_item_shape">
              <img
                class="project_item_img project_item_img_2"
                src="/static/img/flight.png"
                alt="gym"
              />
              <figcaption class="project_item_caption">Check Now!</figcaption>
            </figure>

            <div class="project_item_text">
              <a href="#" class="project_item_link"
                ><h3 class="heading-3">
                  Flight Booking System (Full Stack)
                </h3></a
              >
              <p class="text">
                This is my
                <span class="text_highlight">very first independent</span>
                full-stack system. This project was developed as a part of my
                Master's program in Applied Computer Science, specifically in
                the software development course, where I received an
                <span class="text_highlight">A grade</span>. Built using
                <span class="text_highlight">Python (Flask)</span> and
                <span class="text_highlight">MySQL</span> for the backend, with
                <span class="text_highlight">HTML, Bootstrap</span>, and
                <span class="text_highlight">CSS</span> for the frontend.
              </p>
            </div>
          </div>

          <div class="project_item">
            <figure class="project_item_shape">
              <img
                class="project_item_img project_item_img_3"
                src="/static/img/enci_1.png"
                alt="gym"
              />
              <figcaption class="project_item_caption">Check Now!</figcaption>
            </figure>

            <div class="project_item_text">
              <a href="#" class="project_item_link"
                ><h3 class="heading-3">Portfolio (Full Stack)</h3></a
              >
              <p class="text">
                This <span class="text_highlight">responsive</span> website is
                <span class="text_highlight">100% independently</span> designed
                and developed by myself, without referencing any tutorials. As a
                result, it serves as a showcase of my existing developing
                knowledge and skills. This website includes
                <span class="text_highlight">HTML</span> ,
                <span class="text_highlight">CSS</span>,
                <span class="text_highlight">SCSS</span>, and I use
                <span class="text_highlight">Python (Flask)</span>, and
                <span class="text_highlight">Javascript</span> for interactive
                features. Don't hesitate to reach out and say hello by filling
                the contact form below!
              </p>
            </div>
          </div>

          <div class="project_item">
            <figure class="project_item_shape">
              <img
                class="project_item_img project_item_img_4"
                src="/static/img/nexter.png"
                alt="gym"
              />
              <figcaption class="project_item_caption">Check Now!</figcaption>
            </figure>

            <div class="project_item_text">
              <a href="#" class="project_item_link"
                ><h3 class="heading-3">
                  Property Agency Website (Front End)
                </h3></a
              >
              <p class="text">
                This website is designed and developed with a modern and
                <span class="text_highlight">responsive</span> approach using
                HTML and CSS. The site's layout is built with<span
                  class="text_highlight"
                >
                  CSS grid</span
                >
                , providing a flexible and dynamic design that adapts to the
                content displayed. Throughout the development process, I have
                leveraged my expertise in CSS to create engaging
                <span class="text_highlight">animations</span> and
                <span class="text_highlight">transitions</span>, resulting in a
                visually appealing user experience.
              </p>
            </div>
          </div>

          <div class="project_item">
            <figure class="project_item_shape">
              <img
                class="project_item_img project_item_img_5"
                src="/static/img/natours.png"
                alt="gym"
              />
              <figcaption class="project_item_caption">Check Now!</figcaption>
            </figure>

            <div class="project_item_text">
              <a href="#" class="project_item_link"
                ><h3 class="heading-3">
                  Travel Company Website (Front End)
                </h3></a
              >
              <p class="text">
                This website showcases the
                <span class="text_highlight">modernity</span> and richness of a
                travel website using only
                <span class="text_highlight">HTML</span> and
                <span class="text_highlight">CSS (SCSS)</span>. It's
                <span class="text_highlight">responsive</span>, built primarily
                with <span class="text_highlight">flexbox</span>, and features a
                variety of CSS
                <span class="text_highlight">animations</span> and
                <span class="text_highlight">effects</span>, including stunning
                navigation, engaging content card effects, and creative use of
                video as a background. This project demonstrates my ability to
                design and develop aesthetically pleasing and
                <span class="text_highlight">functional</span> websites.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <h2 class="contact_heading heading-2">Contact Me</h2>
      {% if send %}
      <h2 class="text contact_text">
        Thanks for contacting me! I will reply to you super duper soon!
      </h2>
      {% else %}
      <form action="{{url_for('home')}}" method="POST" class="contact_form">
        <input
          type="name"
          class="form-control contact_form_name"
          id="name"
          name="name"
          placeholder="*Name"
          required
        />

        <input
          type="email"
          class="form-control contact_form_email"
          id="email"
          name="email"
          placeholder="*Email"
          required
        />

        <textarea
          type="message"
          class="form-control contact_form_message"
          id="message"
          name="message"
          rows="8"
          placeholder="*Message"
          required
        ></textarea>

        <button type="submit" class="btn-infinite contact_form_btn">
          Send Now
        </button>
      </form>
      {% endif %}
    </section>

    <section class="footer">
      <p class="copyright">
        Designed & Developed 100% by Enci Lyu. Copyright &copy; by Enci Lyu 2023
      </p>
    </section>
    <!-----------script  ------------->
    <script>
      const downloadBtn = document.getElementById("download_btn");
      const downloadPDF = () => {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "/download_pdf", true);
        xhr.responseType = "blob";
        xhr.onload = () => {
          const blob = new Blob([xhr.response], { type: "application/pdf" });
          const url = URL.createObjectURL(blob);
          const link = document.createElement("a");
          link.href = url;
          link.download = "Enci_Lyu_CV_fullstack.pdf";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        };
        xhr.send();
      };
      downloadBtn.addEventListener("click", downloadPDF);
    </script>
  </body>
</html>
